<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glaube Logistics | Saudi Import Specialists</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <!-- SweetAlert2 JS -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        primary: {
                            700: '#468ba9',  // deeper shade
                            600: '#549cbc',  // original main
                            500: '#68a8c3',  // slightly lighter
                            400: '#7bb4ca',  // even lighter
                            300: '#89B2C5',  // your existing lighter
                            200: '#a6c8d8',  // soft pastel
                            100: '#cde1eb',  // very light background
                            50:  '#f2f8fa'   //very very light bg
                        } ,
                        secondary: '#2c5282',
                        accent: '#549cbc',
                        light: '#f7fafc',
                        dark: '#2d3748',
                        lightbg:'#89B2C5'
                    },
                }
            }
        }
    </script>
</head>
<body class="min-h-screen flex items-center justify-center p-2 md:p-8 bg-primary-50">
    <div id="forgetPassword" class="w-full  max-w-md mx-auto p-6 ">
        <div class="mt-7 bg-white  rounded-xl shadow-lg hover:shadow-xl dark:bg-gray-800 dark:border-gray-700 border-2 border-primary-600">
          <div class="p-4 sm:p-7">
            <div class="text-center">
                <a href="/" class="flex items-center justify-center py-4 rounded-2xl">
                    <img src="/images/glaube-logistics-company-logo.png" 
                             alt="Audit process" >
                </a>
              <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Forgot password?</h1>
              <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                Remember your password?
                <a class="text-primary-600 decoration-2 hover:underline font-medium" href="/login">
                  Login here
                </a>
              </p>

            </div>

            <div class="mt-5">
              <form id="forgetPasswordForm">
                <div class="grid gap-y-4">
                    <div>
                    <label for="email" class="block text-sm text-primary-600 font-bold ml-1 mb-2 dark:text-white">Email address</label>
                    <div class="relative">
                      <input type="email" id="email" name="email" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-primary-500 focus:ring-primary-500 shadow-sm" required aria-describedby="email-error">
                    </div>
                    <p class="hidden text-xs text-red-600 mt-2" id="email-error">Please include a valid email address so we can get back to you</p>
                  </div>
                  <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-primary-600 text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                    Reset password</button>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400 text-center">
                      Please enter the email associated with your account. We will send a verification code to reset your password.
                    </p>
                </div>
                
              </form>
            </div>
          </div>
        </div>
    </div>
    <div id="confirmOTP" class=" hidden max-w-md mx-auto p-6 ">
        <div class="mt-7 bg-white  rounded-xl shadow-lg hover:shadow-xl dark:bg-gray-800 dark:border-gray-700 border-2 border-primary-600">
          <div class="p-4 sm:p-7">
            <div class="text-center">
                <a href="/" class="flex items-center justify-center py-4 rounded-2xl">
                    <img src="/images/glaube-logistics-company-logo.png" 
                             alt="Audit process" >
                </a>
              <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Verify your email</h1>
              
            </div>

            <div class="mt-5">
              <form id="confirmOTPForm">
                <div class="grid gap-y-4">
                  <div>
                    <label for="otp" class="block text-sm text-primary-600 font-bold ml-1 mb-2 dark:text-white">Enter your OTP</label>
                    <div class="relative">
                      <input type="text" id="otp" placeholder="OTP" name="otp" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-primary-500 focus:ring-primary-500 shadow-sm" required >
                    </div>
                  </div>
                  <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-primary-600 text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                    Submit</button>
                    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400 text-center">
                      Please check your email for the verification code. The OTP is valid for 10 minutes.
                    </p>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div id="renewPassword" class="hidden w-full max-w-md mx-auto p-6">
        <div class="mt-7 bg-white  rounded-xl shadow-lg hover:shadow-xl dark:bg-gray-800 dark:border-gray-700 border-2 border-primary-600">
          <div class="p-4 sm:p-7">
            <div class="text-center">
                <a href="/" class="flex items-center justify-center py-4 rounded-2xl">
                    <img src="/images/glaube-logistics-company-logo.png" 
                             alt="Audit process" >
                </a>
              <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Reset password</h1>
              <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                Remember your password?
                <a class="text-primary-600 decoration-2 hover:underline font-medium" href="/login">
                  Login here
                </a>
              </p>
            </div>

            <div class="mt-5">
              <form id="renewPasswordForm">
                <div class="grid gap-y-4">
                  <div>
                    <label for="password" class="block text-sm text-primary-600 font-bold ml-1 mb-2 dark:text-white">New Password</label>
                    <div class="relative">
                      <input type="password" id="password" name="password" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-primary-500 focus:ring-primary-500 shadow-sm" required aria-describedby="email-error">
                    </div>
                    <label for="password" class="block text-sm text-primary-600 font-bold ml-1 my-2 dark:text-white">Confirm Password</label>
                    <div class="relative">
                      <input type="password" id="confirmPassword" name="password" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-primary-500 focus:ring-primary-500 shadow-sm" required aria-describedby="email-error">
                    </div>
                    <p class="hidden text-xs text-red-600 mt-2" id="password-error">**Passwords are not matching</p>
                  </div>
                  <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-primary-600 text-white hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                    Confirm password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
     <%- include("partials/toast") -%>
<% if (toast) { %>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            showToast("<%= toast.message %>", "<%= toast.type %>");
        });
    </script>
    <% } %>
</body>
</html>

<script>
    const forgetPassword=document.getElementById('forgetPassword')
    const confirmOTP=document.getElementById('confirmOTP')
    const renewPassword=document.getElementById('renewPassword')

    const forgetPasswordForm=document.getElementById('forgetPasswordForm')
    const confirmOTPForm=document.getElementById('confirmOTPForm')
    const renewPasswordForm=document.getElementById('renewPasswordForm')

    const passwordError=document.getElementById('password-error')
    
    forgetPasswordForm.addEventListener('submit',(e)=>{
        e.preventDefault();
        const email=document.getElementById('email').value.trim()
        console.log('email for reset password:',email);
        sendOtp(email,forgetPassword)
    })
    confirmOTPForm.addEventListener('submit',(e)=>{
        e.preventDefault();
        const otp=document.getElementById('otp').value.trim()
        console.log('otp for reset password:',otp);
        verifyOTP(otp)
    })
    renewPasswordForm.addEventListener('submit',(e)=>{
        e.preventDefault();
        const password=document.getElementById('password').value.trim()
        const confirmPassword=document.getElementById('confirmPassword').value.trim()
        console.log("password$confpass:",password,confirmPassword);
        if(password!==confirmPassword){
            passwordError.classList.remove('hidden')
            return
        }
        updatePassword(password)
    })

    async function updatePassword(password){
            console.log('password updating func.:',otp)
            try {
                const response = await fetch("/update-password", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ password: password })
                });
                const data = await response.json();
            
                if (data.toast) {
                    showToast(data.toast.message, data.toast.type);
                }
                if(data.success){
                    window.location.href="/login"
                    renewPasswordForm.reset()
                }
                // return data.success; 
            } catch (error) {
                console.error("Error:", error);
                showToast("Failed to update password. Please try again.", "error");
                return false;
            }
        }


    async function verifyOTP(otp){
            console.log('otp in verifyOTP func.:',otp)
            try {
                const response = await fetch("/verify-otp", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ otp: otp })
                });
                const data = await response.json();
            
                if (data.toast) {
                    showToast(data.toast.message, data.toast.type);
                }
                if(data.success){
                    confirmOTP.classList.add('hidden')
                    renewPassword.classList.remove('hidden')
                    confirmOTPForm.reset()
                }
                // return data.success; 
            } catch (error) {
                console.error("Error:", error);
                showToast("Failed to verify OTP. Please try again.", "error");
                return false;
            }
        }

    async function sendOtp(email,forgetPassword){
            console.log('email:',email)
            try {
                const response = await fetch("/send-otp", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ email: email,purpose: "forgotPassword" })
                });
                const data = await response.json();
            
                if (data.toast) {
                    showToast(data.toast.message, data.toast.type);
                }
                if(data.success){
                    forgetPassword.classList.add('hidden')
                    confirmOTP.classList.remove('hidden')
                    forgetPasswordForm.reset()
                }
            } catch (error) {
                console.error("Error:", error);
                showToast("Failed to verify OTP. Please try again.", "error");
                return false;
            }
        }
</script>